@{
    ViewBag.Title = "Bdjobs Access Control System";
}
<br/>
<br/>
<div class='t1' style='background-color:#ffffff;'>
    <div class='l1'>
        <div class='r1'>
            <div class='tl1'>
                <div class='tr1'> 
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>

<div class='l1' style='background-color:#ffffff;'>
    <div class='r1'>
        <div style="margin-left: 200px; margin-right: 200px;">
            <table style="font-size: 18px; border: 0px;">
              <tr id="tr">
                <td style="text-align: center; padding: 5px; border: 0px;"><img src="@Url.Content("images/attendance_01.jpg")" width="40px" height="40px" /></td>
                <td style="padding: 5px; border: 0px;">@Html.ActionLink("Attendance Report", "Index", "Attendance")</td>
                </tr>
              <tr id="tr">
                <td style="text-align: center; padding: 5px; border: 0px;"><img src="@Url.Content("images/leave_report.jpg")" width="40px" height="40px" /></td>
                <td style="padding: 5px; border: 0px;">@Html.ActionLink("Leave Report", "Index", "Leave")</td>
                </tr>
              <tr id="tr">
                <td style="text-align: center; padding: 5px; border: 0px;"><img src="@Url.Content("images/attendance_02.gif")" width="40px" height="40px" /></td>
                <td style="padding: 5px; border: 0px;">@Html.ActionLink("Holiday List", "Index", "HolidayList")</td>
                </tr>
              <tr id="tr">
                <td style="text-align: center; padding: 5px; border: 0px;"><img src="@Url.Content("images/leave.png")" width="40px" height="40px" /></td>
                <td style="padding: 05px; border: 0px;">@Html.ActionLink("General Leave Application", "Index", "GeneralLeave")</td>
                </tr>
              <tr id="tr">
                <td style="text-align: center; padding: 5px; border: 0px;"><img src="@Url.Content("images/leave.png")" width="40px" height="40px" /></td>
                <td style="padding: 5px; border: 0px;">@Html.ActionLink("Compensatory Leave Application", "Index", "CompensatoryLeave")</td>
                </tr>
              <tr id="tr">
                <td style="text-align: center; padding: 5px; border: 0px;"><img src="@Url.Content("images/loan_icon.jpg")" width="40px" height="40px" /></td>
                <td style="padding: 5px; border: 0px;">@Html.ActionLink("Salary Advance Application", "Index", "SalaryAdvance")</td>
                </tr>
              @*<tr id="tr">
                <td style="text-align: center; padding: 5px; border: 0px;"><img src="@Url.Content("images/conveyance.jpg")" width="40px" height="40px" /></td>
                <td style="padding: 5px; border: 0px;">Conveyance Form</td>
                </tr>*@
            </table>
        </div>
    </div>
</div>

<div class='Footer1' style='width:100%;'>
	<div class='l1'>
		<div class='r1'>
			<div class='bl1'>
				<div class='br1'>
					&nbsp;
				</div>
			</div>
		</div>
	</div>
</div>